*
{
    padding: 0;
    margin: 0;
}

body,
html
{
    /* overflow:hidden; */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -1;
}

/*   PROTOTYPE SCENE   */
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: aliceblue;
    /* text-decoration: none; */
}

.mainContent{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #ffeded;
    text-transform: uppercase;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    justify-content:center;
}

.title{
    text-align: center;
    color: antiquewhite;
    font-size: 10vmin;
    /* padding-bottom: 10%; */
}

.autor{
    color:white;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3%;
}


/* SCROLL BASED ANIM */
.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 3vmin;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    justify-content:center;
}

#ar-button
{
    background-color: #c98a63;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;

    font-size: 14px;

    position: absolute;
    margin: 1.5%;
    border-radius: 10px;

    position: absolute;
    top: 1px;
    /* right: 45%; */
    left: 1%;
}

#ar-button:active
{
    background-color: #9a5e39;
}

#expositorButtons
{
    display: flexbox;
    position:absolute;
    background-color: aqua;
    padding: 3%;
    height: 50%;
    padding: 5% 5%;
    margin-top: 35%;
    left: -190px;
}

#selectionButton
{
    display: flex;
    align-items: center;
    height: 20%;
    margin-top: 15%;
}

#panelActivationButton
{
    position: absolute;
    margin-top: 30%;
    z-index: 1;

    height: 5%;
    margin-left: 3%;
}

@media only screen and (min-width:801px) {
    /* For Desktop: */
    #panelActivationButton
    {
        position: absolute;
        margin-top: 10%;
        z-index: 1;

        width: 3%;
        margin-left: 0;         
        padding-left: 0;
        
        /* background-color: #b36464; */
    }

    #expositorButtons{
        display: flexbox;
        position:absolute;
        background-color: rgb(255, 0, 0);
        /* padding: 3%; */
        height: 50%;
        /* padding: 2% 2%; */
        margin-top: 10%;
        left: -225px;
    }

    #selectionButton
    {
        display: flex;
        height: 25%;
        width: 150%;
        margin-left: 0;
    }
}